html, body {
    overflow:auto;
    height:100%; /* allows us to size the header height based as a percent */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}